<header class="header">
  <div class="header-content">
      <div class="logo">
          <img src="https://i.imgur.com/8FsW3Qz.png" alt="Logotipo" />
      </div>
      <div class="menu-icon" (click)="toggleMenu()">☰</div>
  </div>
   <nav id="menu-options" [ngClass]="{'menu-options-mobile': windowWidth <= 992, 'menu-options-desktop': windowWidth > 992, 'open': isMenuOpen }">
    <ul  >
      <li ><a routerLink="/welcome">Welcome</a></li>
      <li ><a routerLink="/">Home</a></li>
      <li >
        <a routerLink="/recipes" (click)="toggleSubMenu('recipes')">Recetas</a>
        <ul class="sub-menu" *ngIf="isSubMenuOpen === 'recipes'">
          <li><a routerLink="/recipes/category1">Categoría 1</a></li>
          <li><a routerLink="/recipes/category2">Categoría 2</a></li>
        </ul>
      </li>
      <li >
          <a routerLink="/profile" (click)="toggleSubMenu('profile')">Perfil</a>
          <ul class="sub-menu" *ngIf="isSubMenuOpen === 'profile'">
              <li><a routerLink="/profile/settings">Configuración</a></li>
              <li><a routerLink="/profile/history">Historial</a></li>
           </ul>
       </li>
    </ul>
  </nav>
</header>