.menu-inferior {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #f0f0f0;
    padding: 10px 0;
  }
  
  .menu-inferior a {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .menu-inferior img {
    max-height: 30px;
  }