<nav class="menu-inferior">
    <a href="#">
        <img src="https://i.imgur.com/25NNTef.png" alt="Home" />
    </a>
    <a href="#">
        <img src="https://i.imgur.com/XHoZ5oa_d.png?maxwidth=520&shape=thumb&fidelity=high" alt="Favoritos" />
    </a>
    <a href="#">
         <img src="https://i.imgur.com/xGwdERx.png" alt="Recetas" />
    </a>
    <a href="#">
        <img src="https://i.imgur.com/r7ESYKL_d.png?maxwidth=520&shape=thumb&fidelity=high" alt="Comunidad" />
    </a>
    <a href="#">
        <img src="https://i.imgur.com/009TJni_d.png?maxwidth=520&shape=thumb&fidelity=high" alt="Perfil" />
    </a>
</nav>
